<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.notfallapp">
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/notfallapplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:debuggable="true"
        tools:ignore="HardcodedDebugMode">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menubar.contact.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menubar.contact.AddContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menubar.AlarmsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menubar.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.CallAlarmActivity"
            android:screenOrientation="portrait"
            android:persistent="true"/>
        <activity
            android:name=".alarm.AlarmCanceledActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.AlarmSuccesfulActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".menubar.settings.ChangeProfilActivity" />
        <activity android:name=".connectBracelet.AddBraceletActivity"
            android:screenOrientation="portrait">
        </activity>
        <receiver android:name=".receiver.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.ServiceCallAlarm"/>
        <service android:name=".service.ServiceCancelAlarm"/>
    </application>

</manifest>